@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Hammersmith One", sans-serif;
  /* overflow-x: hidden; */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
.gradient-border {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background-image: radial-gradient(
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  ); */
}

.main-heading {
  width: 250px;
  transition: all 0.3s linear;
  text-align: center;
  position: relative;
}
.img-cont:hover {
  transform: scale(1.1, 1.1);
}
.img-cont {
  transition: all 0.3s linear;
}
.img-cont:hover {
  transform: scale(1.1, 1.1);
}
.img-cont {
  transition: all 0.3s linear;
}
.fixed-att {
  background-attachment: fixed !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  transition: all 0.3s linear;
  cursor: pointer;
}

.button-custom {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  margin-top: 10px !important;
  background: #0275d8;
  padding: 8px 10px;
  display: inline-block;
  box-shadow: 0px 0px 5px black;
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
.button-custom:hover {
  background: #3cb0fd;

  text-decoration: none;
  color: white;
}

.heading-2:before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 3px;
  top: 0;
  right: 0;
  left: 2%;
  bottom: 0;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0px 2px 2px black;
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
}

.heading-2:before:hover {
  transform: scale(1.1, 1.1) !important;
}
.heading-3:before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 3px;
  top: 0;
  right: 0;
  left: 2%;
  bottom: 0;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0px 0px 2px black;
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
  background-color: black;
}

.heading-1:before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 3px;
  top: 0;
  right: 0;
  left: 2%;
  bottom: 0;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0px 2px 2px black;
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
}

.main-heading h3:hover {
  transform: scale(1.1, 1.1) !important;
  -webkit-background-clip: text;
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
  -webkit-text-fill-color: transparent;
  color: black;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.main-heading h3 {
  /* -webkit-background-clip: text;
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  ); */
  -webkit-text-fill-color: transparent;
  /* color: black !important; */
  display: inline-block;
  padding: 0;
  margin: 0;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
:root {
  --primary-color: #18a0fb;
  --sec-color: black;
  --gray: #dedede;
}
.main-color {
  background-color: var(--primary-color);
  color: white;
}

.primary-text {
  color: var(--primary-color);
}
.button {
  border-radius: 50px;
  box-shadow: 0px 0px 5px black;
  padding: 5px 10px !important;
  text-align: center;
}
/*----------multi-level-accordian-menu------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;
}
#elective {
  margin-top: 47px !important;
}
.navbar-mainbg {
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );

  padding: 0px 40px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #18a0fb;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(140, 63, 226, 1);
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

.collapse .card-body {
  text-align: left !important;
}
/* Carousel section */
.carousel-inner {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 99vh;
}
.carousel-inner {
  padding-top: 43.25%;
  display: block;
  content: "";
}
.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  z-index: 9;
  margin-top: 20px;
  text-align: center;
}
.caption h1 {
  color: #fff;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 23px;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 2px;
  width: 100%;
}
.btn {
  font-family: "Helvetica Neue", Helvetica, Arial;
}
.caption h2 {
  color: #fff;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px black;
  font-weight: 300;
}

.carousel-indicators .active {
  background-image: linear-gradient(
    rgba(20, 157, 208, 1) 0%,
    rgba(20, 157, 208, 1) 90%
  );
  height: 12px;
  width: 12px;

  z-index: 15;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;

  z-index: 15;
}
.caption-text-2 {
  font-size: 2.7rem !important;
  width: 100%;
}

.about-left img {
  transition: all 0.3s linear;
  object-fit: cover;
  height: 350px !important;
  margin-right: 20px;
  transform: scale(1.22, 1.22);
  cursor: pointer;
}
.about-left:hover img {
  transform: scale(1.44, 1.44);
}
.about-left {
  overflow: hidden;
  object-fit: cover;
  height: 350px !important;
  box-shadow: 0px 0px 10px black;
}

.gradient-border {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.instructor {
  flex-wrap: wrap;
}
/* instructor section  */
.testimotionals {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  width: 22rem;
  /* height: 400px; */
  flex-wrap: wrap;
  cursor: pointer;
}
.img-banner {
  transition: all 0.3s ease-in-out;
  width: 80%;
}
.img-banner:hover {
  transform: scale(1.1, 1.1) !important;
}



.testimotionals .card {
  position: relative;
  overflow: hidden;

  margin: 0 auto;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
.testimotionals .card .layer {
  z-index: 1;
  position: absolute;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  left: 0;
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
  transition: 0.5s;
}
.text-achievements {
  line-height: 2rem;
}
/* tilt css */

.tilt {
  box-shadow: 0 20px 30px -13px rgba(0, 0, 0, 0.7);
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.tilt:hover {
  box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.7);
}

.social-icon {
  padding: 10px;
  width: 100%;
  /* display: flex; */
}
.social-icon-stu {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-icon img {
  transition: all 0.3s linear;
  margin-left: 20px;
  filter: drop-shadow(2px 2px 5px black);
}
.social-icon img:hover {
  transform: scale(1.2, 1.2);
}
.social-icon-stu img {
  transition: all 0.3s linear;
  /* margin-left: 20px; */
  filter: drop-shadow(2px 2px 5px black);
}
.social-icon-stu img:hover {
  transform: scale(1.2, 1.2);
}

.testimotionals .card .content {
  z-index: 2;
  position: relative;
}
.details h4,
h5 {
  text-shadow: 2px 2px 2px black;
}
.content p {
  text-shadow: 2px 2px 2px black;
}
.testimotionals .card:hover .layer {
  top: 0;
}

.testimotionals .card .content p {
  font-size: 14px;
  line-height: 24px;
  /* transform: translateZ(50px) scale(0.99); */
  color: #fff;
}
.testimotionals .card .content .image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  /* transform: translateZ(50px) scale(0.86); */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.testimotionals .card .conte nt .details h2 {
  font-size: 18px;
  /* transform: translateZ(50px) scale(0.7); */
  color: white;
}
.testimotionals .card .content .details h2 span {
  font-size: 18px;
  color: purple;

  transition: 0.5s;
}
.testimotionals .card:hover .content .details h2 span {
  color: white;
  position: relative;
}

/* ========Accordian Section ===== */
#accordion .card-header,
#accordion .card-link,
#accordion .card-link:hover {
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
  text-align: left;
  color: white;
}
#accordion .card-body {
  padding: 10px 10px;
}
#accordion .card {
  /* width: 500px; */
}
#accordion p {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 20px;
  color: white;
  -webkit-animation: minus 0.5s;
}

@keyframes minus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
/* =====Students section */

#stu-heading {
  color: white !important;
}
@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767px) {
  html {
    overflow-x: hidden !important;
  }
  .caption h1 {
    font-size: 1.5rem !important;
  }
  .caption h2 {
    font-size: 18px !important;
  }
  #elective {
    margin-top: 20px !important;
  }
  .navbar-mainbg {
    background-image: radial-gradient(
      circle 300px at 8% 89.3%,
      rgba(20, 157, 208, 1) 0%,
      rgba(140, 63, 226, 1) 90%
    );
    padding: -1px 40px;
  }
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 5rem;
}

.students {
  height: 90vh;
}
.students .card {
  position: relative;
  display: flex;
  width: 600px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164); */
  backdrop-filter: blur(0px) saturate(129%);
  -webkit-backdrop-filter: blur(0px) saturate(129%);
  background-color: rgba(17, 25, 40, 0.69);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.students .card .card-body {
  padding: 1rem 1rem;
}

.students.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.students p {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.students h4 {
  line-height: 0.2 !important;
}

.students .items {
  width: 90%;
  margin: 0px auto;
  margin-top: 40px;
}

.students .slick-slide {
  margin: 10px;
}

.students .media iframe,
.students .media-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(120, 120, 120, 0.1);
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.students .media-content:before {
  content: "";
  position: absolute;
  height: 10%;
  width: 90%;
  left: 5%;
  bottom: 0;
  background: inherit;
  background-position-y: 100%;
  filter: blur(10px);
}

.students .circle .media-content:before {
  width: 40%;
  left: 30%;
}

.students .profile-image {
  width: 100%;
  height: 100%;
  /* border-top-left-radius: 11px !important;
  border-top-right-radius: 11px; */
  /* border-radius: 50%; */
  text-align: center;
  margin: 0px auto;
  margin-top: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px black;
  transition: 0.3s all ease-in-out;
  object-fit: cover;
}
.students .profile-image:hover {
  transform: scale(1.1, 1.1);
}
.students .card-title {
  font-size: 19px;
  font-weight: 200;
  text-shadow: none !important;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-family: roboto, "";
}

.media img {
  border-radius: 50%;
}

.media {
  object-fit: cover;
  width: 150px !important;
  height: 150px !important;
  /* border-top-left-radius: 11px !important;
  border-top-right-radius: 11px; */
  /* border-radius: 50%; */
  text-align: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  margin: 10px auto;
}
.students .card:hover {
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
  border: none !important;
  box-shadow: 0px 0px 10px black;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.students .card-title {
  background: transparent !important;
  font-weight: 900;
  border-radius: 20px !important;
}
.students .card:hover .card-title {
  color: white !important;
}

/* contact form  */
.form-box {
  max-width: 500px;
  margin: auto;
  padding: 35px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

input,
textarea {
  width: 100%;
}

/* Footer  */
.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top {
  padding: 55px 0px 270px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png")
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif")
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif")
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/

#google_translate_element {
  position: fixed;
  left: 30px !important;
  bottom: 30px;
  opacity: 0;
  float: right;
  z-index: 1;
  height: 40px;
  width: 120px;
}
#google_translate_element img {
  width: 20px;
  height: 20px;
}
#google_translate_element.show {
  opacity: 1;
  visibility: visible;
}
/* back to top button  */
#scrollToTopBtn {
  /* background-color: black; */
  border: none;
  border-radius: 50%;
  display: none;
  position: fixed;
  right: 20px !important;
  bottom: 120px;
  float: right;
  z-index: 1;

  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
}
#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

#scrollToTopBtn img {
  animation: updown 3s ease alternate infinite;
}
@keyframes updown {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
.img_container {
  animation: updown 3s ease alternate infinite;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}
